<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ShowProducts</title>
              <!-- Latest compiled and minified CSS -->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    
          <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
          <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
             <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
          <script
      src="http://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    
    
    </head>

<body>
    <button id="mybutton">Show Products</button>
    <table id="show" border="2">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </tfoot>
    </table>
    <script>
        var getData
        $(document.body).on('click',"#mybutton",function (e) {
                 $.ajax({type:"GET",
                     url:"/getProd",
                     success: function(result){
                         getData = result
                         console.log(getData)
                         if(getData !=null || getData !=""){
                            table = $('#show').DataTable( {
                                data: getData ,destroy: true,
                                columns: [    
                                    { data: 'name' },
                                    { data: 'description' },
                                    { data: 'price' }
                                ]
                            } );
                        }
                  });
        });
    </script>

    <label>
        Enter name to delete Prod:<input id="input-field" type="text"> 
        <button id="dlteProd" type="submit" placeholder="Enter Name to Delete Prod">Delete Product</button>
    </label>
    
    <script>
        prodName = document.getElementById('input-field').value
        $(document.body).on('click','#dlteProd',function(){
            $.ajax({
                type: 'Delete',
                url: '/deleteProd/' + prodName,
                success: function(result){
                    if(result =='success'):
                        console.log(result)
                    else:
                        console.log(request)
                },
                error: function(xhr,resp, text){
                    console.log(xhr,resp,text);
                }
            })
        })

        {% comment %} $(document).ready(function(){
            $("#dlteProd").on('click', function(){
                var data = $("#input-field").val()
                console.log(data)
                $.ajax({
                    url: '/deleteProd', // url where to submit the request
                    type : 'delete', // type of action POST || GET
                    data: data,
                    dataType: JSON,
                    contentType: "application/json; charset=utf-8",
                    success : function() {
                        console.log("Successful");
                    },
                    error: function(xhr, resp, text) {
                        console.log(xhr, resp, text);
                    }
                })})
            }); {% endcomment %}
    </script>
    
</body>
</html>